<!DOCTYPE html>
<html lang="es">

<%- include('../partials/headDashboard') %>
<body class="product__body">

  <%- include('../partials/headerDashboard') %>

  


  <main class="container">
    <section class="row my-5">
     <div class="col-12 col-md-10 mx-auto">
        <div class="card">
            <div class="card-header d-flex justify-content-between">

                  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item text-primary"><a href="/dashboard">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Nueva Indumentaria:</li>
                    </ol>
                  </nav>

                
               
            </div>
            <div class="card-body">
              <form action="" class="row">
               
                    <h3>Agregar Indumentaria:</h3>

                    <div class="col-12 col-md-6">
                      <label for="floatingInput">Nombre del producto:</label> 
                    <div class="form-floating ">
                    <input name="name" type="text" class="form-control" id="name" placeholder="nombre">
                 
                    </div>
                    </div>
                    <div class="col-12 col-md-6">
                  <label for="floatingPassword">Precio del producto:</label>
                  <div class="form-floating">
                    <input name="price" type="number" class="form-control" id="precio" placeholder="precio">
                  
                  </div>
                    </div>
             
                    <div class="col-12 col-md-6">
                    <label for="category">Categoria:</label>
                        <div class="form-floating">
                          <select value="" name="category" class="form-select" id="categoria"  aria-label="Floating label select example">
                          
                            <option value= "remeras">Remeras</option>
                            <option value= "pantalones">Pantalones</option>
                            <option value= "calzado">Calzado</option>
                          </select>
                          
                        </div>
                    </div>
  
                    <div class="col-12 col-md-3">
                      <label for="floatingInput">Stock:</label>
                      <div class="form-floating">
                        <input name="stock" type="number" class="form-control" id="stock" placeholder="stock" >                
                      </div>
                    </div>
  
                    <div class="col-12 col-md-3">
                      <label for="floatingInput">Talle:</label>
                      <div class="form-floating">
                        <input name="talle"  class="form-control" id="talle" >                
                      </div>
                    </div>
  
                    <div class="col-12 col-md-6">
                      <label for="floatingTextarea2">Descripción:</label>
                      <div class="form-floating">
                        <textarea name="description" class="form-control" placeholder="Descripción" id="Descripción" style="height: 100px"></textarea>
                      
                      </div>
                    </div>
                    
                    <div class="col-12 col-md-3 mt-4">
                      <input name="mainImage" type="file" class="form-control" id="mainImage" hidden>
                      <label class= "btn btn-lg btn-outline-dark  w-100" for="mainImage">Imagen principal</label>
            
                    </div>
                    <div class="col-12 col-md-3 mt-4">
                    <input name="images" type="file" class="form-control" id="images" hidden multiple>
                    <label class= "btn btn-lg btn-outline-dark w-100" for="images">Imagenes</label>
          
                    </div>
                    <div class="col-12 mt-3 d-flex justify-content-end">
                    
                    <button type="submit" class= "btn btn-lg btn-dark w-100" >Guardar cambios</button>
          
                    </div>
                
              </form>
            </div>

        </div>

     </div>


    </section>

  </main>
</body>
</html>