<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productCart | CINCOmpetencia</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body class="index">
    
    <header>
        <section class="home__header">
    
            <div class="burguer__menu">
                <i class="fa-solid fa-bars"></i>
            </div>
    
            <div class="home__header__logo">
              <img src="/image/logo.png" alt="logo-cincompetencia"  height='120' width='120'>
            </div>
    
            <div class="home__header__i">
    
            <div class="heart">
              <i class="fa-solid fa-heart"></i>
            </div>
    
            <div class="user">
              <i class="fa-solid fa-user"></i>
            </div>
    
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
    
           </div>
    
           <nav class="search__bar">
            <input type="text" placeholder="">
            <button class="lupa" type="submit"><i class="fas fa-search"></i></button>  
           </nav>
    
        </section>
    
        <section class="home__header__iconos">
    
            <i id="truck" class="fa-solid fa-truck-fast"></i>
            <h4 id="entregas">Envíos a todo el país</h4>
    
            <div class="tarjetas">
              <div class="paypal">
              <i class="fa-brands fa-cc-paypal"></i>
            </div>
    
            <div class="master">
              <i class="fa-brands fa-cc-mastercard"></i>
            </div> 
    
            <div class="visa">
              <i class="fa-brands fa-cc-visa"></i>
            </div>
    
            <div class="amex">
              <i class="fa-brands fa-cc-amex"></i>
              </div>
            </div>  
            
            <i id="hand" class="fa-solid fa-hand-holding-dollar"></i>
            <h4 id="medios-pagos">Todos los medios de pago</h4>
    
            <div class="phone">
              <div class="tel"> 
               <i class="fa-solid fa-phone"></i>
              </div> 
               <h4>Tel: 11 2345 6789</h4>
            </div>
    
        </section>
    
        <section>
            <nav class="header__section">
                <ul>
                    <li><a class="mujer" href="">Mujer</a></li>
                    <li><a class="hombre" href="">Hombre</a></li>
                    <li><a class="zapatillas" href="">Zapatillas</a></li>
    
                </ul>
            </nav>
        </section>
           
        </header>

        <main>
          <div id="tittles">
          <div id="titlle1">
          <h3>Continuar comprando</h3>
          </div>
          <h2>MI CARRITO</h2>
          </div>
          <div id="miCarrito">
              <div id="miCarritoSuperior">
                  <div id="miCarrito1">
                      <img src="/image/remeraRoja.webp" alt="">
                      <div id="miCarrito1A">
                          <h3>REMERA</h3>
                          <ul style="list-style:none ">
                              <li>Color: Rojo Oscuro</li>
                              <li>Talle: XS</li>
                          </ul>
                          <div id="miCarrito1AA">
                              <div id="miCarCantidad">
                                  <label for="cantidad">Cantidad</label>
                                  <select name="cantidad" id="cantidad">
                                      <option value="1">1</option>
                                  </select>
                              </div>
                              <div id="miCarPrecio"> 
                                  <h5>Total</h5>
                                  <p>$5000</p>
                              </div>
                          </div>
                          <p>ELIMINAR PRODUCTO</p>
                      </div>
                  </div>
                  <div id="miCarrito2">
                      <h3>RESUMEN DE COMPRA</h3>
                      <div id="miCarrito2A">
                          <h4>Subtotal:</h4>
                          <h4>$5.000</h4>
                      </div>
                      <div>
                          <h4>Calcula el Costo de envio</h4>
                          <div id="codigoPostal">
                              <input type="text" value="" placeholder="Código Postal">
                              <button type="button">CALCULAR</button>
                          </div>
                      </div>
                      <div id="cpComprar">
                          <div id="totalCP">
                              <h3>Total:</h3>
                              <h3>$5.000</h3>
                          </div>
                          <button type="submit">COMPRAR</button>
                      </div>
                  </div>
              </div>
              <h3>RECOMENDADOS PARA VOS</h3>
              <div id="miCarritoFinal">
                  
                  <div id="miCarritoFinal2">
                      <img src="/image/imagen Remera Chivo.jpeg" alt="">
                      <div id="miCarritoFinal2A">
                          <h2>Remera gráfica Goat</h2>
                          <h2>$7.000</h2>
                      </div>
                  </div>
                  <div class="additional-image hidden-on-small">
                    <img src="/image/zapatilla azul.jpg" alt="">
                    <div id="miCarritoFinal2A">
                        <h2>Zapatillas Azules</h2>
                        <h2>$9500</h2>
                    </div>
                </div>
                <div class="additional-image hidden-on-small">
                    <img src="/image/zapatilla verde.jpeg" alt="">
                    <div id="miCarritoFinal2A">
                        <h2>Zapatillas Verdes</h2>
                        <h2>$85000</h2>
                    </div>
                </div>
              </div>
          </div>
    
  
  
      </main>
    
    <%- include('../partials/footer') %>
  
</body>
</html>
