<!DOCTYPE html>
<html lang="es">
  
<%- include('../partials/head-detail') %>

<body class="product">

  <%- include('../partials/headerDashboard') %>
  
  <main class="container">
    <section class="row my-5">
     <div class="col-12 col-md-10 mx-auto">
        <div class="card">
            <div class="card-header d-flex justify-content-between">

                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item text-primary"><a href="/dashboard">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Edición de productos:</li>
                    </ol>
                  </nav>
              </div>
            <div class="card-body">
                <form action="" class="row">

                    <h3>Editar producto</h3>

                    
                    <div class="col-12 col-md-6">
                      <label for="floatingInput">Nombre del producto:</label>
                <div class="form-floating ">
                    <input name="name" type="text" class="form-control" id="name" placeholder="nombre">
                </div>
                </div>
                <div class="col-12 col-md-6">
                  <label for="floatingInput">Precio del producto:</label>
                  <div class="form-floating">
                    <input name="price" type="number" class="form-control" id="precio" placeholder="precio">                
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <label for="floatingTextarea2">Descripcion</label>
                <div class="form-floating">
                    <textarea name="description" class="form-control" placeholder="Descripcion" id="Descripcion" style="height: 100px"></textarea>
                  
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <label for="category">Categoria</label>
                    <div class="form-floating">
                        <select value="" name="category" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                          <option selected hidden>Seleccionar</option>
                          <option value="1">Remeras</option>
                          <option value="2">Pantalones</option>
                          <option value="3">Calzado</option>
                        </select>
                        
                      </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <label for="category" class="form-label">Seleccionar imagen:</label>
                    <input type="file" id="image" name="image" class="form-input col-12 col-md-12">
                  </div>

            </div>
                <div class="col-12 col-md-6">
                  <button type="submit" class="buy-now-button">Guardar edición</button>
                    
                </div>
                
                </form>
            </div>

        </div>

     </div>


    </section>

</main>

<%- include('../partials/footer') %>

</body>
</htm 

