<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productDetail | CINCOmpetencia</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    >
    <link rel="stylesheet" href="/css/styles.css">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    >
</head>
<body class="product__body">

  <header>
    <section class="home__header">

        <div class="burguer__menu">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="home__header__logo">
          <img src="/image/logo.png" alt="logo-cincompetencia"  height='120' width='120'>
        </div>

        <div class="home__header__i">

        <div class="heart">
          <i class="fa-solid fa-heart"></i>
        </div>

        <div class="user">
          <i class="fa-solid fa-user"></i>
        </div>

        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>

       </div>

       <nav class="search__bar">
        <input type="text" placeholder="">
        <button class="lupa" type="submit"><i class="fas fa-search"></i></button>  
       </nav>

    </section>

    <section class="home__header__iconos">

        <i id="truck" class="fa-solid fa-truck-fast"></i>
        <h4 id="entregas">Envíos a todo el país</h4>

        <div class="tarjetas">
          <div class="paypal">
          <i class="fa-brands fa-cc-paypal"></i>
        </div>

        <div class="master">
          <i class="fa-brands fa-cc-mastercard"></i>
        </div> 

        <div class="visa">
          <i class="fa-brands fa-cc-visa"></i>
        </div>

        <div class="amex">
          <i class="fa-brands fa-cc-amex"></i>
          </div>
        </div>  
        
        <i id="hand" class="fa-solid fa-hand-holding-dollar"></i>
        <h4 id="medios-pagos">Todos los medios de pago</h4>

        <div class="phone">
          <div class="tel"> 
           <i class="fa-solid fa-phone"></i>
          </div> 
           <h4>Tel: 11 2345 6789</h4>
        </div>

    </section>

    <section>
        <nav class="header__section">
            <ul>
                <li><a class="mujer" href="">Mujer</a></li>
                <li><a class="hombre" href="">Hombre</a></li>
                <li><a class="zapatillas" href="">Zapatillas</a></li>

            </ul>
        </nav>
    </section>
       
    </header>

    <main class="product__main">
        <div class="product__div--arrow">
          <i class="fa-solid fa-chevron-left"></i> <a href="/">Mujer</a>
        </div>
  
        <article class="product__main__article">
          
          <div class="product__main__div--imgproduct">
            <img
              class="product__main__div--imgproduct1"
              src="/image/pantalonMujer-1.jpg"
              alt=""
            >
            <img
              class="product__main__div--imgproduct2"
              src="/image/pantalonMujer-3.jpg"
              alt=""
            >
            <img
              class="product__main__div--imgproduct2"
              src="/image/pantalonMujer-2.jpg"
              alt=""
            >
            <img
              class="product__main__div--imgproduct2"
              src="/image/pantalonMujer-4.jpg"
              alt=""
            >
          </div>
  
          <section class="product__section">
            <h2 class="product__section--title">Pantalones anchos</h2>
            <p class="product--precio">$10.000</p>
            <h5 class="product__section__detail--h5">Detalles:</h5>
            <p class="product__section__p--detail">
              Cintura elástica<br >
              Bolsillos laterales<br >
              Color beige claro
            </p>
            <div class="product__section__div--sizes">
              <h5 class="product__section__button__sizes--h5">Talles:</h5>
              <button class="product__section__button--sizes">S</button>
              <button class="product__section__button--sizes">M</button>
              <button class="product__section__button--sizes">L</button>
              <button class="product__section__button--sizes">XL</button>
              <select
                class="product__section__select--amount"
                name="amount"
                id="amount"
              >
                <option value="" selected hidden>Cantidad</option>
                <option value="uno">1</option>
                <option value="dos">2</option>
                <option value="tres">3</option>
                <option value="cuatro">4</option>
              </select>
            </div>
  
            <div class="product__section__div--add">
              <button class="product__section__button--add">
                Añadir al carrito
              </button>
            </div>
          </section>
        </article>
  
        <div class="product__div--about">
          <h4>Acerca del producto</h4>
          <p>
            Producto de algodon procedente de agricultura sostenible. Fabricado
            con 20% de material reciclado.
          </p>
        </div>
        <section class="product____section__--more">
          <h3>Quizá también te guste</h3>
          <article class="product____section__article--more">
            <div class="swiper mySwiper1">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <img src="/image/remera-1.jpg" alt="" >
                  </div>
                  <div class="swiper-slide">
                    <img src="/image/remera-2.jpg" alt="" >
                  </div>
                  <div class="swiper-slide">
                    <img src="/image/remera-3.jpg" alt="" >
                  </div>
                </div>
    
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
    
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
              </div>
              <h4 class="product__carousel--tshirt">Remera</h4>
          <p class="product__carousel--precio">$5.000</p>
        </article>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".mySwiper1", {
        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
        <footer>
            <div id="foot1">
              <div id="foot1B">
                <p>SUSCRIBITE Y RECIBI NOVEDADES Y PROMOCIONES</p>
              </div>
              <div id="foot1A">
                <img id="imageFooter" src="./images/mail.jpg" alt="" >
                <input id="inputFooter" type="text" placeholder="Ingresa tu email" >
              </div>
            </div>
            <div id="foot2">
              <select name="menu" id="names">
                <option value="institucional">Institucional</option>
              </select>
              <select name="menu" id="names">
                <option value="ayuda">Ayuda</option>
              </select>
              <select name="menu" id="names">
                <option value="atencion al cliente">Atención al cliente</option>
              </select>
            </div>
            <div id="foot3">
              <img
                id="imageFooter2"
                src="./images/boton arrepentimiento.png"
                alt=""
              >
              <img src="./images/codigo footer.png" alt="" >
            </div>
            <div id="foot4">2023 Copyritgh CINCOPENTENCIA</div>
          </footer>
</body>
</html>