<!DOCTYPE html>
<html lang="es">

<!--include/head-->
<%- include('../partials/head') %>

<body class="index">
<!--include/header-->
    <%- include('../partials/header') %>
    
    
    <main class="index__main">

    </main>

    <%- include('../partials/footer') %>
</body>
</html>
