<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home | CINCOmpetencia</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/78a0423393.js" crossorigin="anonymous"></script>
</head>
<body class="index">
    <header>
        <section class="home__header">
    
            <div class="burguer__menu">
                <i class="fa-solid fa-bars"></i>
            </div>
    
            <div class="home__header__logo">
              <img src="/image/logo.png" alt="logo-cincompetencia"  height='120' width='120'>
            </div>
    
            <div class="home__header__i">
    
            <div class="heart">
              <i class="fa-solid fa-heart"></i>
            </div>
    
            <div class="user">
              <i class="fa-solid fa-user"></i>
            </div>
    
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
    
           </div>
    
           <nav class="search__bar">
            <input type="text" placeholder="">
            <button class="lupa" type="submit"><i class="fas fa-search"></i></button>  
           </nav>
    
        </section>
    
        <section class="home__header__iconos">
    
            <i id="truck" class="fa-solid fa-truck-fast"></i>
            <h4 id="entregas">Envíos a todo el país</h4>
    
            <div class="tarjetas">
              <div class="paypal">
              <i class="fa-brands fa-cc-paypal"></i>
            </div>
    
            <div class="master">
              <i class="fa-brands fa-cc-mastercard"></i>
            </div> 
    
            <div class="visa">
              <i class="fa-brands fa-cc-visa"></i>
            </div>
    
            <div class="amex">
              <i class="fa-brands fa-cc-amex"></i>
              </div>
            </div>  
            
            <i id="hand" class="fa-solid fa-hand-holding-dollar"></i>
            <h4 id="medios-pagos">Todos los medios de pago</h4>
    
            <div class="phone">
              <div class="tel"> 
               <i class="fa-solid fa-phone"></i>
              </div> 
               <h4>Tel: 11 2345 6789</h4>
            </div>
    
        </section>
    
        <section>
            <nav class="header__section">
                <ul>
                    <li><a class="mujer" href="">Mujer</a></li>
                    <li><a class="hombre" href="">Hombre</a></li>
                    <li><a class="zapatillas" href="">Zapatillas</a></li>
    
                </ul>
            </nav>
        </section>
           
        </header>
    <section class="banner"> <div><img src="/image/2.jpg" alt=""></div></section>


    <main class="index__main">
       <h2 class="h2__main">Recomendado para vos</h2>
        <section class="index__main__section">
            
<article class="index__main__section__article">
 <img src="/image/9.png" alt="">
 <div class="comprar__a">
    <a href=""><h3>Comprar</h3></a>
</div>
</article>
<article class="index__main__section__article">
<img src="/image/11.png" alt="">
<div class="comprar__a">
    <a href=""><h3>Comprar</h3></a>
</div>
</article>
<article class="index__main__section__article">
    <img src="/image/6.png" alt="">
   <div class="comprar__a">
    <a href=""><h3>Comprar</h3></a>
    </article>
    <article class="index__main__section__article">
        <img src="/image/7.png" alt="">
        <div class="comprar__a">
           <a href=""><h3>Comprar</h3></a>
       </div>
       </article>
       <article class="index__main__section__article">
       <img src="/image/10.png" alt="">
       <div class="comprar__a">
           <a href=""><h3>Comprar</h3></a>
       </div>
       </article>
       <article class="index__main__section__article">
           <img src="/image/8.png" alt="">
          <div class="comprar__a">
           <a href=""><h3>Comprar</h3></a>
</div>



 </section>
 
</main>

<section class="index__main__section2">
<img class="img__zapatilla" src="/image/5.png" alt="">











  

    <div class="carrusel">
        <div class="conteCarrousel">
            <div class="itemCarrousel" id="itemCarrousel-1">
                <div class="itemCarrouselTarjeta">
                    <div class="articulo">
                        <img src="/image/7.png" alt="">
                        <a class="carrusel__a" href="">Comprar</a>
                    </div>
                    <div  class="articulo">
                        <img src="/image/10.png" alt="">
                        <a class="carrusel__a" href="">Comprar</a>
                    </div>

                    <div  class="articulo articulo2">
                        <img src="/image/9.png" alt="">
                        <a class="carrusel__a" href="">Comprar</a>
                    </div>
                </div>
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-3">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-2">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="itemCarrousel" id="itemCarrousel-2">
                <div class="itemCarrouselTarjeta">
                    <div class="articulo">
                    <img src="/image/13.png" alt="">
                    <a class="carrusel__a" href="">Comprar</a>
                </div>
                <div  class="articulo">
                    <img src="/image/12.png" alt="">
                    <a class="carrusel__a" href="">Comprar</a>
                </div>
                <div  class="articulo articulo2">
                    <img src="/image/8.png" alt="">
                    <a class="carrusel__a" href="">Comprar</a>
                </div>
                </div>
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-1">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-3">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="itemCarrousel" id="itemCarrousel-3">
                <div class="itemCarrouselTarjeta">
                    <div class="articulo">
                    <img src="/image/3.png" alt="">
                    <a class="carrusel__a" href="">Comprar</a>
                </div>
                <div  class="articulo">
                    <img src="/image/1.png" alt="">
                    <a class="carrusel__a" href="">Comprar</a>
                </div>
                <div  class="articulo articulo2 ">
                    <img src="/image/6.png" alt="">
                    <a class="carrusel__a" href="">Comprar</a>
                </div>
            </div>
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-2">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-1">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



















































<div class="contenedor">
    <div class="img1"><img  src="/image/17.png" alt=""></div>

<div class="none"> <h3>DALE PODER A TU ENTRENAMIENTO</h3>
<p>indumentarias hechas especialmente con materiales reciclados</p>
<p class="enlace__conoce-mas"><a href="">Conoce mas</a></p></div>
 
    <div class="img1"><img src="/image/18.png" alt=""></div>
       
</div>


<div class="h3__p"> 
    <h4>DALE PODER A TU ENTRENAMIENTO</h4>
    <p>indumentarias hechas especialmente con materiales reciclados</p>
    <p class="enlace__conoce-mas"><a href="">Conoce mas</a></p>
</div>
     



    <footer>
        <div id="foot1">
          <div id="foot1B">
          <p>SUSCRIBITE Y RECIBI NOVEDADES Y PROMOCIONES </p>
        </div>  
          <div id="foot1A">
            <img id="imageFooter" src="./images/mail.jpg" alt="">
            <input id="inputFooter" type="text" placeholder="Ingresa tu email">
          </div>
        </div>
        <div id="foot2">
            <select name="menu" id="names">
              <option value="institucional">Institucional</option>
            </select>
            <select name="menu" id="names">
                <option value="ayuda">Ayuda</option>
            </select>
            <select name="menu" id="names">
                <option value="atencion al cliente">Atención al cliente</option>
            </select>
        </div>
        <div id="foot3">
            <img id="imageFooter2" src="./images/boton arrepentimiento.png" alt="">
            <img src="./images/codigo footer.png" alt="">
        </div>
        <div id="foot4">
            2023 Copyritgh CINCOPENTENCIA</div>
    </footer>
  
</body>
</html>