<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productDetail | CINCOmpetencia</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    >
</head>
<body class="product__body">
    <main class="product__main">
        <div class="product__div--arrow">
          <i class="fa-solid fa-chevron-left"></i> <a href="/">Mujer</a>
        </div>
  
        <article class="product__main__article">
          
          <div class="product__main__div--imgproduct">
            <img
              class="product__main__div--imgproduct1"
              src="/images/pantalonMujer-1.jpg"
              alt=""
            >
            <img
              class="product__main__div--imgproduct2"
              src="/images/pantalonMujer-3.jpg"
              alt=""
            >
            <img
              class="product__main__div--imgproduct2"
              src="/images/pantalonMujer-2.jpg"
              alt=""
            >
            <img
              class="product__main__div--imgproduct2"
              src="/images/pantalonMujer-4.jpg"
              alt=""
            >
          </div>
  
          <section class="product__section">
            <h2 class="product__section--title">Pantalones anchos</h2>
            <p class="product--precio">$10.000</p>
            <h5 class="product__section__detail--h5">Detalles:</h5>
            <p class="product__section__p--detail">
              Cintura elástica<br >
              Bolsillos laterales<br >
              Color beige claro
            </p>
            <div class="product__section__div--sizes">
              <h5 class="product__section__button__sizes--h5">Talles:</h5>
              <button class="product__section__button--sizes">S</button>
              <button class="product__section__button--sizes">M</button>
              <button class="product__section__button--sizes">L</button>
              <button class="product__section__button--sizes">XL</button>
              <select
                class="product__section__select--amount"
                name="amount"
                id="amount"
              >
                <option value="" selected hidden>Cantidad</option>
                <option value="uno">1</option>
                <option value="dos">2</option>
                <option value="tres">3</option>
                <option value="cuatro">4</option>
              </select>
            </div>
  
            <div class="product__section__div--add">
              <button class="product__section__button--add">
                Añadir al carrito
              </button>
            </div>
          </section>
        </article>
  
        <div class="product__div--about">
          <h4>Acerca del producto</h4>
          <p>
            Producto de algodon procedente de agricultura sostenible. Fabricado
            con 20% de material reciclado.
          </p>
        </div>
        <section class="product____section__--more">
          <h3>Quizá también te guste</h3>
          <article class="product____section__article--more">
    
</body>
</html>