<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header | CINCOmpetencia</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6b158f83e1.js" crossorigin="anonymous"></script>


<link rel="stylesheet" href="register.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<header>
    <section class="home__header">

        <div class="burguer__menu">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="home__header__logo">
          <img src="/image/logo.png" alt="logo-cincompetencia"  height='120' width='120'>
        </div>

        <div class="home__header__i">

        <div class="heart">
          <i class="fa-solid fa-heart"></i>
        </div>

        <div class="user">
          <i class="fa-solid fa-user"></i>
        </div>

        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>

       </div>

       <nav class="search__bar">
        <input type="text" placeholder="">
        <button class="lupa" type="submit"><i class="fas fa-search"></i></button>  
       </nav>

    </section>

    <section class="home__header__iconos">

        <i id="truck" class="fa-solid fa-truck-fast"></i>
        <h4 id="entregas">Envíos a todo el país</h4>

        <div class="tarjetas">
          <div class="paypal">
          <i class="fa-brands fa-cc-paypal"></i>
        </div>

        <div class="master">
          <i class="fa-brands fa-cc-mastercard"></i>
        </div> 

        <div class="visa">
          <i class="fa-brands fa-cc-visa"></i>
        </div>

        <div class="amex">
          <i class="fa-brands fa-cc-amex"></i>
          </div>
        </div>  
        
        <i id="hand" class="fa-solid fa-hand-holding-dollar"></i>
        <h4 id="medios-pagos">Todos los medios de pago</h4>

        <div class="phone">
          <div class="tel"> 
           <i class="fa-solid fa-phone"></i>
          </div> 
           <h4>Tel: 11 2345 6789</h4>
        </div>

    </section>

    <section>
        <nav class="header__section">
            <ul>
                <li><a class="mujer" href="">Mujer</a></li>
                <li><a class="hombre" href="">Hombre</a></li>
                <li><a class="zapatillas" href="">Zapatillas</a></li>

            </ul>
        </nav>
    </section>
       
    </header>

    

<body>

    class="index">
    <header class="header">
        <div class="header__box--logo">
            <img src="" alt="">
        </div>
    </header>
    <main class="index__main">



    <section class="register"> 

        <h2> REGISTRATE </h2>

        <h4> Datos Personales</h4>
        
        <div >

            <input class="form-register" type="text"  placeholder="* Nombre">

            
            <input class="form-register" type="text"  placeholder="*Apellido">

        </div>
         

        
   <div class="dniRegister">
            
            <select  name="Tipo DNI" id=" ">
                <option disabled selected > *Tipo DNI </option>
                <option value="DNI"> DNI</option>
                <option value="LI">LI</option>
                <option value="Pasaporte">Pasaporte</option>

            </select>

            <input class="form-register" type="text"placeholder="*Numero de documento">
        </div>

            <input class="form-register" type="tel" placeholder="*Telefono (cod area + numero)">
        
  

        <input class="form-register" type="email" placeholder="*Email">
        <input class="form-register"  type="email" placeholder="*Confirme su Email">

           
        <input class="form-register"  placeholder="* Contraseña (min 8 caracteres, un carater especial, un numero)">
        <input class="form-register"  placeholder="* Confirmar Contraseña ">
         
    <div>
            <input type="checkbox" >  Acepto las politicas de privacidad, terminos y condiciones 
             <br>             

            <input  type="checkbox" >  Quiero recibir promociones y novedades de producto 
        
    </div> 
    


<input class="buttonsRegister"type="submit" value="Crear mi cuenta">

</section>

    
</body>

</html>