:root {
    --tipografia: "Inter";
    --colorGris: #D9D9D9;
    --colorAzul: #4682A9;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}