body { 
  background-color: #f6f4eb ;
  display: flex;   }

*{
    margin: 0;
    padding: 0;
    font-family: inter;
    box-sizing: border-box;
}


.login a{

  text-decoration: none;

}

.fa-solid 
{
text-decoration: none;
display:inline-flex;  
width:  45% ;
padding-left: 35px;
font-size: 50px;
color: #f6f4eb;

}
.login {
display: flexbox;
width: 500px;
height: 450px;
background: #4682a9 ;
margin: auto;
margin-top: 15;
box-shadow: 3px 5px 15px #000;
padding: 20px 30 px;
border-top: 1px solid #749bc2;
border-radius: 5px;

}

.login h3 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 25px;
    font-size: 30px;
    color: #f6f4eb;
}

.form-login{

    text-align: center;
    margin: 10px 20px;   
    width: 90%;
    border: 1px solid #f6f4eb;
    padding: 10px 10px 10px 10px;
    background: #e2e2e2;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;

}

.buttonsLogin{
display:inline-block;  
width:  45% ;
height: 30px;
background: #91c8e4 ;
border-color: rgb(255, 255, 255);
border-radius: 5px;
color: #f6f4eb;
margin: 10px 20px;
margin-bottom: 30px;
font-weight: bold;


}


.login p {
    
    height: 30px;
    text-align: right;
    margin: 5;
    
    
  }
  
  .login a {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
  }
  
  login a:hover {
    text-decoration: underline;
  }