body {
    font-family: sans-serif;
    background-color: #f6f4eb;
  }
   h1{
    background-color: #4682a9;
    color: #f6f4eb ;
    text-align: center;
    
  }
 .formulario {
    width: 500px;
    margin:  auto;
    background-color:#f6f4eb;
    padding: 20px;
    border-radius: 10px;
  }

input:focus {
    background: #91c8e4;
}
.campo {

    margin-bottom: 5px;
       
  }
.campo_Dni{
    
    display: inline-flex;
    margin-bottom: 10px;/*revisar*/
    width: 104%;
              
}

#tipo_dni{ 

margin-right: 10px;
width: 30%;
   
}
  
  label {
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
  }
    input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .botonCrearC{
    background-color: #4682a9;
    color:  #f6f4eb;   
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 7px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

  }
  

  input[type="checkbox"] {
    margin-right: 5px;
  
  }
  
  @media (max-width: 768px) {
    .formulario {
      width: 100%;
    }
  }