
<footer>
  <div id="foot1">
    <div id="foot1B">
    <p>SUSCRIBITE Y RECIBI NOVEDADES Y PROMOCIONES </p>
  </div>  
    <div id="foot1A">
      <img id="imageFooter2" src="/images/mail.jpg" >
      <input id="inputFooter" type="email" placeholder="Ingresa tu email">
    </div>
  </div>
  <div id="foot2">
      <select name="menu" id="names">
        <option value="institucional">Institucional</option>
      </select>
      <select name="menu" id="names">
          <option value="ayuda">Ayuda</option>
      </select>
      <select name="menu" id="names">
          <option value="atencion al cliente">Atención al cliente</option>
      </select>
  </div>
  <div id="foot3">
      <button id="btnArrep"> Boton de arrepentimiento</button>
      <img id="imageFooter" src="/images/codigo footer.png" alt="">
  </div>
  <div id="foot4">
      2023 Copyritgh CINCOPENTENCIA</div>
</footer>  