<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header | CINCOmpetencia</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6b158f83e1.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
    <section class="home__header">

        <div class="burguer__menu">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="home__header__logo">
          <img src="/image/logo.png" alt="logo-cincompetencia"  height='120' width='120'>
        </div>

        <div class="home__header__i">

        <div class="heart">
          <i class="fa-solid fa-heart"></i>
        </div>

        <div class="user">
          <i class="fa-solid fa-user"></i>
        </div>

        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>

       </div>

       <nav class="search__bar">
        <input type="text" placeholder="">
        <button class="lupa" type="submit"><i class="fas fa-search"></i></button>  
       </nav>

    </section>

    <section class="home__header__iconos">

        <i id="truck" class="fa-solid fa-truck-fast"></i>
        <h4 id="entregas">Envíos a todo el país</h4>

        <div class="tarjetas">
          <div class="paypal">
          <i class="fa-brands fa-cc-paypal"></i>
        </div>

        <div class="master">
          <i class="fa-brands fa-cc-mastercard"></i>
        </div> 

        <div class="visa">
          <i class="fa-brands fa-cc-visa"></i>
        </div>

        <div class="amex">
          <i class="fa-brands fa-cc-amex"></i>
          </div>
        </div>  
        
        <i id="hand" class="fa-solid fa-hand-holding-dollar"></i>
        <h4 id="medios-pagos">Todos los medios de pago</h4>

        <div class="phone">
          <div class="tel"> 
           <i class="fa-solid fa-phone"></i>
          </div> 
           <h4>Tel: 11 2345 6789</h4>
        </div>

    </section>

    <section>
        <nav class="header__section">
            <ul>
                <li><a class="mujer" href="">Mujer</a></li>
                <li><a class="hombre" href="">Hombre</a></li>
                <li><a class="zapatillas" href="">Zapatillas</a></li>

            </ul>
        </nav>
    </section>
       
    </header>

    
</body>
</html>