<article class="index__main__section__article">
    <img src="/images/9.png" alt="">
    <div class="comprar__a">
        <h4><%- name %></h4>
        <p class="p-main">$ <%- price %></p>
        <div class="caja-comprar">
            <a class="a-comprar" href="/products/productDetail/<%- id %>">Comprar</a>
        </div>
    </div>
</article>