<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>

 <main class="container">
    <section class="row my-5">
     <div class="col-12 col-md-10 mx-auto">
        <div class="card">
            <div class="card-header d-flex justify-content-between">

                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item text-primary"><a href="/dashboard">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                  </nav>

           
               
            </div>
            <div class="card-body">
                
              <form action="/usuarios/actualizar/<%= id %>?_method=PUT" class="row" method="POST">

                    <h3>Perfil de usuarios</h3>

                    
                <div class="col-12 col-md-6 mb-3">
                  <div class="form-floating ">
                  <label for="floatingInput">Nombre:</label>
                    <input name="name" type="text" class="form-control" id="name">
                    
                  </div>
                </div>


                <div class="col-12 col-md-6 mb-3">
                  <div class="form-floating">
                    <label for="surname">Apellido:</label>
                    <input name="surname" type="text" class="form-control" id="surname">
                  </div>
                </div>


                <div class="col-12 mb-3">
                <div class="form-floating">
                  <label for="email" class="form-label" id="email">Correo electrónico:</label>
                  <input type="email" name="email">
                </div>
                </div>

                <div class="col-12 col-md-6 mt-3 d-flex  justify-content-end">
                    
                  <button type= "submit" class= "btn btn-lg btn-dark w-100" >Actualizar datos</button>
        
              </div>
               
                
              </form>
            </div>

        </div>

     </div>


    </section>

</main>
<%- include('../partials/footer') %>
  </body>
  </html>